#footer {
    background-color: #9fcdff;
}

#header {
    background-color: #9fcdff;
}

.table-row{
    cursor:pointer;
}

.table-row:hover {
    background-color: #ebf1f7;
}

#shit {
    color: #005cbf;
}

#shit:hover {
    cursor:pointer;
}