#footer {
    background-color: #9fcdff;
}

#header {
    background-color: #9fcdff;
}


.clickable-row {
    cursor:pointer;
}

.clickable-row:hover {
    background-color: #ebf1f7;
}

#updateBtn {
    color: white;
}

/*.table-row{*/
/*    cursor:pointer;*/
/*}*/

/*.table-row:hover {*/
/*    background-color: #ebf1f7;*/
/*}*/
